<footer>
<section>
    <h2>INSTITUCIONAL</h2>
   <p>¿Quienes somos?</p>
</section>
<section class="ocultar-mobile">
    <h2>PRODUCTOS</h2>
   <p>Loterias<br>Memotest<br>Batallas<br>Casitas<br>Otros Juegos</p>
</section>
<section>
    <h2>CONTACTOS</h2>
   <p>Ig: @neuropecs</p>
</section> 
<section>
    <h2>SEGUINOS</h2>
    <a href="https://instagram.com/neuropecs?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a>
</section>
</footer>